.parallax-view{
    
    display:flex;
    justify-content:center;
    align-items:center;
    height:60vh;
    width:100vw;
    background-image: url('../../../public/roverr3.jpg');
    background-attachment:fixed;
    background-size:cover;
    
  }

@media screen and (max-width:770px) {
  .parallax-parent{
    display: none;
  }
}
  